.profile__text {
  display: grid;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  align-items: end;
}

@media screen and (max-width: 768px) {
  .profile__text {
    column-gap: 9px;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 0px;
    align-items: flex-end;
  }
}
