.elements {
  width: 100%;
  margin: 0 auto 66px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-flow: row;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .elements {
    width: calc(100% - 38px);
  }
}

@media screen and (max-width: 425px) {
  .elements {
    margin: 0 auto;
  }
}
