.element {
  position: relative;
  max-width: 282px;
  width: 100%;
  min-height: 361px;
  background: #FFF;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 42px;
  grid-template-rows: auto min-content;
  align-items: center;
  margin: 0 auto;
  line-height: 0;
  box-sizing: border-box;
}
