.element__trash {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/elements/Trash.svg);
  background-position: center;
  background-size: 22px 19px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  margin: 0 20px 0 0;
  display: block;
}

.element__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}
