.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(84,84,84, 0.7);

}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 38px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
  }
}
